@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

.jason-individual__hero {
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.jason-individual__hero-description {
  background-color: #707070;
  opacity: 48%;
  max-width: 980px;
  padding: 22px 200px 46px 46px;
  position: absolute;
  bottom: 0;
  right: 0;
  p {
    color: #ffffff;
    // font-family: Montserrat;
    font-size: 30px;
    max-width: 670px;
    line-height: 35px;
    opacity: 100%;
  }
}

.jason-individual__information {
  background-color: #4e0003;
  max-width: 1920px;
  margin: 0 auto;
  @media (max-width: 992px) {
    // display: flex;
  }
}

.jason-individual__personal-info {
  @media (max-width: 992px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.jason-individual__information-picture {
  display: none;
  @media (max-width: 992px) {
    display: block;
    width: 138px;
    height: 138px;
  }
}

.jason-individual-text-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  p {
    font-size: 50px;
    color: #ffffff;
  }
  p:first-child {
    border-right: white 3px solid;
    font-weight: 700;
    padding-right: 20px;
    @media (max-width: 992px) {
      border-right: none;
      font-size: 25px;
    }
    @media (max-width: 576px) {
      font-size: 20px;
    }
  }
  p:last-child {
    font-weight: 500;
    padding-left: 20px;
    @media (max-width: 992px) {
      font-size: 20px;
    }
    @media (max-width: 576px) {
      font-size: 13px;
    }
  }
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.jason-individual__personal-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.jason-individual__personal-button {
  width: 340px;
  height: 50px;
  border: none;
  background-color: #e6e6e6;
  color: #4e0003;
  font-size: 20px;
  font-weight: 700;
  font-family: Montserrat;
  margin-left: 20px;
  @media (max-width: 1024px) {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

// MAIN PART

.jason-individual__lawyers-life {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.jason-individual__lawyer-bio {
  max-width: 1230px;
  padding: 80px 0 0 200px;
  @media (max-width: 1450px) {
    padding: 70px 0 0 100px;
  }
  @media (max-width: 1200px) {
    padding: 50px 0 0 0;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.jason-individual__lawyer-mobile {
  display: none;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
    max-width: 1230px;
    padding: 50px 0 0 0;
    margin: 0 auto;
  }
}

.jason-individual__text-area {
  padding-right: 60px;
  @media (max-width: 1200px) {
    padding-right: 30px;
  }
  @media (max-width: 768px) {
    padding-right: 0;
  }
}

.jason-individual__text-mobile {
  padding: 0 43px;
}

.jason-individual__bio-heading {
  font-size: 30px;
  font-family: Montserrat;
  color: #4e0003;
  padding-top: 50px;
  @media (max-width: 768px) {
    font-size: 20px;
    padding-top: 68px;
  }
}

.jason-individual__bio-memories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 160px;
  max-width: 917px;
  @media (max-width: 1200px) {
    margin-top: 60px;
  }
  @media (max-width: 992px) {
    margin-top: 60px;
  }
}

.jason-individual__memories-img {
  // width: 100%;
  // height: 100%;
  // object-fit: cover;
  // max-width: 304px;
}

.jason-individual__bio-swipe {
  margin: 0 12px;
  width: 48px;
  height: 48px;
  @media (max-width: 992px) {
    display: none;
  }
}

.jason-individual__media-box {
  padding-top: 35px;
}

.jason-individual__media-heading {
  font-size: 35px;
  color: #4e0003;
  font-family: Montserrat;
  padding-bottom: 40px;
  @media (max-width: 768px) {
    font-size: 20px;
    text-align: center;
  }
}

.jason-individual__youtube-box {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  margin-bottom: 90px;
  width: 100%;
  @media (max-width: 1700px) {
    flex-direction: column;
    margin-bottom: 60px;
  }
  @media (max-width: 768px) {
    margin-bottom: 28px;
  }
}

.jason-individual__youtube-text {
  margin-left: 40px;
  width: 50%;
  // max-width: 340px;
  p {
    font-size: 20px;
    color: #707070;
    font-family: Montserrat;
  }
  @media (max-width: 1700px) {
    margin: 0;
    width: 100%;
  }
}

.jason-individual__button-more {
  font-size: 20px;
  font-family: Montserrat;
  color: #4e0003;
}

.jason-individual__frame-box {
  position: relative;
  width: 100%;
  max-width: 550px;
  max-height: 295px;
  height: 295px;
  @media (max-width: 1700px) {
    max-width: 100%;
  }
  @media (max-width: 768px) {
    height: 210px;
    margin: 0 auto;
    max-width: 550px;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 295px;
    @media (max-width: 768px) {
      height: 210px;
    }
  }
}

.jason-individual__youtube-video {
  width: 100%;
  height: 100%;
}

.jason-individual__logos-area {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 70px;
  background-color: #e6e6e6;
  @media (max-width: 1560px) {
    align-items: center;
    padding-left: 0;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.jason-individual__logos-mobile {
  display: none;
  @media (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    align-items: center;
  }
}

.jason-individual__logos-heading {
  font-size: 27px;
  color: #4e0003;
  font-family: Montserrat;
  padding-top: 80px;
  margin-bottom: 60px;
}

.jason-individual__practice-state {
  padding-left: 100px;
}

.jason-individual__practice-massachusetts {
  padding-bottom: 70px;
}

.jason-individual__practice-paragraph {
  color: #707070;
}

.jason-individual__massachusetts,
.jason-individual__new-york {
  width: 160px;
  height: 120px;
  object-fit: cover;
  display: flex;
  justify-content: center;
}

.jason-individual__flex-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jason-individual__rivers-image {
  margin-bottom: 70px;
}

.jason-individual__emory-image {
  margin-bottom: 60px;
}

.jason-individual__torch-image {
}
.jason-individual__national-image {
  margin-bottom: 50px;
}
.jason-individual__champion-image {
}

.jason-individual__cases-box {
  text-align: center;
  padding-bottom: 35px;
  max-width: 362px;
  @media (max-width: 576px) {
    max-width: 280px;
  }
}

.jason-individual__cases-cash {
  font-size: 50px;
  font-family: Montserrat;
  color: #4e0003;
  border-bottom: 2px solid #707070;
}
.jason-individual__cases-paragraph {
  font-size: 25px;
  font-family: Montserrat;
  color: #707070;
}
