@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

.single-attorney__hero {
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.single-attorney__hero-description {
  max-width: 980px;
  padding: 1% 10% 2% 3%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: -189px;
  display: flex;
  justify-content: flex-end;
  &::before {
    content: '';
    position: absolute;
    background-color: #707070;
    opacity: 48%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  p {
    color: #ffffff;
    font-family: Montserrat;
    position: relative;
    font-size: 30px;
    max-width: 670px;
    line-height: 35px;
  }
}

.single-attorney__information {
  background-color: #4e0003;
  max-width: 1920px;
  margin: 0 auto;
  @media (max-width: 992px) {
    // display: flex;
  }
}

.single-attorney__personal-info {
  @media (max-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.single-attorney__information-picture {
  display: none;
  @media (max-width: 1024px) {
    display: block;
    width: 138px;
    height: 138px;
  }
}

.single-attorney__text-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  @media (max-width: 1024px) {
    flex-direction: column;
    justify-items: start;
    align-items: flex-start;
    padding-left: 20px;
  }
}

.single-attorney__text-desktop {
  display: inline;
  font-size: 50px;
  color: #ffffff;
  padding-right: 15px;
  border-right: white 3px solid;
  font-weight: 700;
  @media (max-width: 1024px) {
    border-right: none;
    font-size: 25px;
    display: none;
  }
}
.single-attorney__text-mobile {
  display: none;
  @media (max-width: 1024px) {
    display: inline;
    color: #ffffff;
    font-size: 25px;
    line-height: 24px;
    margin-bottom: 0;
    font-weight: 700;
  }
}

.single-attorney__position-text {
  font-size: 50px;
  color: #ffffff;
  font-weight: 500;
  padding-left: 20px;
  @media (max-width: 1024px) {
    font-size: 20px;
    padding-left: 0;
  }
  @media (max-width: 576px) {
    font-size: 13px;
  }
}

.single-attorney__personal-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 35px;
  @media (max-width: 1024px) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.single-attorney__personal-button {
  width: 340px;
  height: 50px;
  border: none;
  background-color: #e6e6e6;
  color: #4e0003;
  font-size: 20px;
  font-weight: 700;
  font-family: Montserrat;
  margin-left: 10px;
  margin-right: 10px;
  @media (max-width: 1024px) {
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.single-attorney__visible-desktop {
  display: inline;
  @media (max-width: 768px) {
    display: none;
  }
}

.glide-button {
  border: none;
  background-color: #ffffff;
}

// MAIN PART

.single-attorney__lawyers-life {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.single-attorney__lawyer-bio {
  max-width: 1230px;
  margin: 80px 0 0 200px;
  @media (max-width: 1700px) {
    margin: 70px 0 0 100px;
  }
  @media (max-width: 1600px) {
    margin: 70px 0 0 20px;
  }
  @media (max-width: 1200px) {
    margin: 50px 0 0 20px;
  }
  @media (max-width: 1300px) {
    display: none;
  }
}

.single-attorney__lawyer-mobile {
  display: none;
  @media (max-width: 1300px) {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0 0 0;
  }
}

.single-attorney__text-area {
  padding-right: 60px;
  font-size: 20px;
  color: #707070;
  @media (max-width: 1200px) {
    padding-right: 30px;
  }
  @media (max-width: 1300px) {
    padding-right: 0;
  }
}

.single-attorney__bio-mobile {
  font-size: 16px;
  color: #707070;
  padding: 0 43px;
  padding-bottom: 120px;
}

.single-attorney__bio-heading {
  font-size: 30px;
  font-family: Montserrat;
  color: #4e0003;
  padding-top: 50px;
  @media (max-width: 768px) {
    font-size: 20px;
    padding-top: 68px;
    position: relative;
    padding-bottom: 35px;
    &::after {
      content: '';
      position: absolute;
      width: 110%;
      left: -50px;
      top: 100px;
      height: 4px;
      background: linear-gradient(
        135deg,
        #84b403 0,
        rgba(250, 248, 248, 01) 100%
      );
    }
  }
  @media (max-width: 611px) {
    &::after {
      content: '';
      position: absolute;
      width: 110%;
      left: -50px;
      top: 122px;
      height: 4px;
      background: linear-gradient(
        135deg,
        #84b403 0,
        rgba(250, 248, 248, 01) 100%
      );
    }
  }
}

.single-attorney__glide {
  display: flex;
  align-items: center;
  max-width: 1005px;
  margin-top: 150px;
  @media (max-width: 1500px) {
    max-width: 700px;
    margin-top: 60px;
  }
}

.single-attorney__bio-memories {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  align-items: center;
  margin-top: 150px;
  margin-right: 20px;
  // max-width: 917px;
  @media (max-width: 1460px) {
    flex-direction: column;
    margin-top: 60px;
    margin-right: 0;
  }
  @media (max-width: 992px) {
    margin-top: 60px;
  }
  @media (max-width: 1300px) {
    margin-top: 0;
  }
}

.single-attorney__memories-img {
  // width: 100%;
  // height: 100%;
  object-fit: cover;
  max-width: 304px;
}

.single-attorney__bio-swipe {
  margin: 0 12px;
  width: 48px;
  height: 48px;
  @media (max-width: 1300px) {
    display: none;
  }
}

.single-attorney__media-box {
  padding-top: 35px;
  @media (max-width: 1700px) {
    padding-right: 20px;
  }
  @media (max-width: 1300px) {
    padding-right: 0;
  }
}

.single-attorney__media-heading {
  font-size: 35px;
  color: #4e0003;
  font-family: Montserrat;
  position: relative;
  padding-bottom: 40px;
  @media (max-width: 1300px) {
    font-size: 20px;
    text-align: center;
  }
  &::after {
    content: '';
    position: absolute;
    width: 70%;
    left: -250px;
    top: 40px;
    height: 4px;
    background: linear-gradient(
      135deg,
      #84b403 0,
      rgba(250, 248, 248, 01) 100%
    );
    @media (max-width: 1460px) {
      width: 110%;
    }
    @media (max-width: 1100px) {
      width: 120%;
    }
    @media (max-width: 1000px) {
      width: 140%;
    }
    @media (max-width: 1300px) {
      width: 100%;
      background: linear-gradient(
        135deg,
        rgba(250, 248, 248, 01) 0,
        #84b403 100%
      );
      left: 0;
      right: 0;
    }
  }
}

.single-attorney__youtube-box {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  margin-bottom: 70px;
  width: 100%;
  @media (max-width: 1700px) {
    flex-direction: column;
    margin-bottom: 60px;
  }
  @media (max-width: 1300px) {
    margin-bottom: 28px;
  }
}

.single-attorney__youtube-text {
  margin-left: 40px;
  width: 50%;
  margin-right: 20px;
  // max-width: 340px;
  p {
    font-size: 20px;
    color: #707070;
    font-family: Montserrat;
  }
  @media (max-width: 1700px) {
    margin: 0;
    width: 100%;
    margin-top: 40px;
  }
}

.single-attorney__button-more {
  font-size: 20px;
  font-family: Montserrat;
  color: #4e0003;
}

.single-attorney__frame-box {
  position: relative;
  width: 100%;
  max-width: 550px;
  max-height: 295px;
  height: 295px;
  @media (max-width: 1700px) {
    max-width: 100%;
  }
  @media (max-width: 1300px) {
    margin: 0 auto;
    max-width: 550px;
  }
  @media (max-width: 768px) {
    height: 210px;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 295px;
    @media (max-width: 768px) {
      height: 210px;
    }
  }
}

.jason-individual__youtube-video {
  width: 100%;
  height: 100%;
}

.single-attorney__logos-area {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 70px;
  background-color: #e6e6e6;
  overflow: hidden;
  @media (max-width: 1560px) {
    align-items: center;
    padding-left: 0;
  }
  @media (max-width: 1300px) {
    display: none;
  }
}

.single-attorney__logos-mobile {
  display: none;
  @media (max-width: 1300px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    overflow: hidden;
  }
}

.single-attorney__logos-heading {
  font-size: 27px;
  color: #4e0003;
  font-family: Montserrat;
  padding-top: 80px;
  margin-bottom: 60px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 200%;
    left: 0;
    top: 115px;
    height: 4px;
    background: linear-gradient(239deg, #84b403 0, #e6e6e6 100%);
  }
  @media (max-width: 1300px) {
    font-size: 20px;
    margin-bottom: 27px;
    padding-top: 70px;
    text-align: center;
    &::before {
      content: '';
      position: absolute;
      width: 200%;
      left: 0;
      top: 96px;
      height: 4px;
      background: linear-gradient(239deg, #84b403 0, #e6e6e6 100%);
    }
  }
}

.single-attorney__practice-state {
  padding-left: 100px;
  @media (max-width: 1300px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
}

.single-attorney__practice-massachusetts {
  padding-bottom: 70px;
  @media (max-width: 1300px) {
    padding-bottom: 43px;
  }
}

.single-attorney__practice-paragraph {
  color: #707070;
}

.single-attorney__massachusetts,
.single-attorney__new-york {
  width: 160px;
  height: 120px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  @media (max-width: 1300px) {
    width: 130px;
    height: 90px;
  }
}

.single-attorney__flex-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-attorney__rivers-image {
  margin-bottom: 70px;
  @media (max-width: 1300px) {
    width: 214px;
    height: 45px;
  }
}

.single-attorney__emory-image {
  margin-bottom: 60px;
  @media (max-width: 1300px) {
    width: 260px;
    height: 102px;
  }
}

.single-attorney__torch-image {
  @media (max-width: 1300px) {
    width: 158px;
    height: 158px;
  }
}
.single-attorney__national-image {
  margin-bottom: 100px;
  @media (max-width: 1300px) {
    width: 202px;
    height: 115px;
    margin-bottom: 50px;
  }
}
.single-attorney__champion-image {
  @media (max-width: 1300px) {
    width: 179px;
    height: 38px;
  }
}

.single-attorney__cases-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-attorney__cases-box {
  text-align: center;
  padding-bottom: 35px;
  max-width: 362px;
  @media (max-width: 576px) {
    max-width: 280px;
  }
}

.single-attorney__cases-cash {
  font-size: 50px;
  font-family: Montserrat;
  color: #4e0003;
  border-bottom: 2px solid #707070;
  @media (max-width: 1300px) {
    font-size: 40px;
  }
}
.single-attorney__cases-paragraph {
  font-size: 25px;
  font-family: Montserrat;
  color: #707070;
  font-weight: 700;
  @media (max-width: 1300px) {
    font-size: 20px;
  }
}
